**/.git
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/.env
**/.env.*
!**/.env.example
**/appsettings.*.Development.json
**/*.user
**/*.pfx
**/Logs
**/TestResults
**/artifacts
**/.dockerignore
**/Dockerfile*